doctype html
html
  head
    title Listă Alimentari
    link(rel="stylesheet" href="/css/style.css")
  body
    h1 Listă Alimentari

    table(border="1" cellpadding="10")
      thead
        tr
          th ID
          th Vehicul Id
          th Descriere
          th Cost Daune
          th Data Ora Accident
          th Loc
          th Gravitate
          th Amiabil
          th Actiuni
      tbody
        each accident in accidentList
          tr
            td= accident.ACCIDENT_ID
            td= accident.VEHICUL_ID 
            td= accident.DESCRIERE
            td= accident.COST_DAUNE 
            td= accident.DATA_ORA
            td= accident.LOC
            td= accident.GRAVITATE
            td= accident.AMIABIL
            td
                a(href=`/accident/edit/${accident.ACCIDENT_ID}` class="btn btn-warning") Editează
                form(action=`/accident/${accident.ACCIDENT_ID}?_method=DELETE` method="POST" class="tabel_form" style="display: inline;")
                  button(type="submit" class="btn btn-danger") Șterge
