doctype html
html
  head
    title Edit Mentenanta
    link(rel="stylesheet" href="/css/style.css")
  body
    h1 Edit mentenanta

    form(action=`/mentenanta/${mentenanta[0].MENTENANTA_ID}?_method=PUT` method="POST" class="page_form")
      label(for="VEHICUL_ID") Vehicul:
      select(id="VEHICUL_ID" name="VEHICUL_ID" required)
        each vehicul in vehiculeList
          option(value=vehicul.VEHICUL_ID, selected=vehicul.VEHICUL_ID === mentenanta[0].VEHICUL_ID)= vehicul.MARCA+" "+vehicul.MODEL
      br

      label(for="TIP_MENTENANTA") Tip Mentenanta:
      input(type="text" id="TIP_MENTENANTA" name="TIP_MENTENANTA" value=`${mentenanta[0].TIP_MENTENANTA}` required)
      br

      label(for="DESCRIERE") Descriere:
      input(type="text" id="DESCRIERE" name="DESCRIERE" value=`${mentenanta[0].DESCRIERE}` required)
      br

      label(for="COST") Cost:
      input(type="number" id="COST" name="COST" step="0.01" value=`${mentenanta[0].COST}` required)
      br

      label(for="DATA_ORA_START") Data și ora start:
      input(type="datetime" id="DATA_ORA_START" name="DATA_ORA_START" value=`${mentenanta[0].DATA_ORA_START.toISOString().slice(0, 19)}` required)
      br

      label(for="DATA_ORA_END") Data și ora sfârșit:
      input(type="datetime" id="DATA_ORA_END" name="DATA_ORA_END" value=`${mentenanta[0].DATA_ORA_END.toISOString().slice(0, 19)}` required)
      br

      button(type="submit") Submit
